@use '../variables/colors' as colors;
@use '../variables/fonts' as fonts;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  gap: 1em;
  font-family: fonts.$text_font;

  img {
    width: 10em;
    height: 3em;
  }

  #header__user-account {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    font-weight: 700;
  }

  #header__cart {
    display: flex;
    align-items: center;
    font-size: 0.75em;
    font-weight: 700;
  }

  a {
    text-decoration: none;
  }
}
