@use '../variables/colors' as colors;
@use '../variables/fonts' as fonts;

#header {
  display: flex;
  padding: 2em;
  justify-content: space-between;
  //margin: 0 0 2em 0;
  gap: 2em;

  #header__logo {
    width: 10em;
    height: 3em;
  }

  #header__search-container {
    display: flex;
    align-items: center;
    gap: 0.5em;

    #header__search-container__search-field {
      width: 12em;
    }
  }

  #header__button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    #header__user-account {
      display: flex;
      align-items: center;
      cursor: pointer;

      #header__user-account__greetings {
        font-size: 0.8em;
        font-weight: 700;
      }
    }

    #header__cart {
      display: flex;
      align-items: center;

      #header__cart__total-amount {
        font-size: 0.8em;
        font-weight: 700;
      }
    }
  }

  a {
    text-decoration: none;
  }
}
