@use '../variables/colors' as colors;
@use '../variables/fonts' as fonts;

.product-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5em 1em 1.5em 0;
  gap: 2em;

  #product-main__btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    #product-main__btn-group__btn-add-product {
      font-size: 0.8em;
      font-family: fonts.$heading_font;
      letter-spacing: 0.1em;
      font-weight: 700;
    }
  }

  .product-main__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product-main__image-title {
    bottom: 0.25em;
  }

  .product-main__side-menu {
    font-family: fonts.$heading_font;
    width: 20%;
  }
}
