@use '../variables/colors' as colors;
@use '../variables/fonts' as fonts;

#profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28em;
  background-color: colors.$white;
  padding: 2em;
  border-radius: 0.5em;

  #profile-form__form-title {
    font-size: 1.5em;
    font-weight: 900;
    font-family: fonts.$heading-font;
    letter-spacing: 0.1em;
    padding-bottom: 0.5em;
  }

  #profile-form__name,
  #profile-form__email,
  #profile-form__password,
  #profile-form__confirmPassword {
    width: 25em;
  }

  #profile-form__avatar {
    width: 26.5em;
  }

  #profile-form__btnGroup {
    padding-top: 1em;

    #profile-form__submitBtn {
      width: 11em;
      background-color: colors.$blue;
      font-weight: 900;
    }

    #profile-form__cancelBtn {
      margin-right: 3em;
      width: 11em;
      font-weight: 900;
    }
  }

  #profile-form__register-link {
    text-decoration: underline;
    cursor: pointer;
  }
}
