@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
#header {
  display: flex;
  padding: 2em;
  justify-content: space-between;
  gap: 2em;
}
#header #header__logo {
  width: 10em;
  height: 3em;
}
#header #header__search-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
#header #header__search-container #header__search-container__search-field {
  width: 12em;
}
#header #header__button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
#header #header__button-group #header__user-account {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#header #header__button-group #header__user-account #header__user-account__greetings {
  font-size: 0.8em;
  font-weight: 700;
}
#header #header__button-group #header__cart {
  display: flex;
  align-items: center;
}
#header #header__button-group #header__cart #header__cart__total-amount {
  font-size: 0.8em;
  font-weight: 700;
}
#header a {
  text-decoration: none;
}

.product-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5em 1em 1.5em 0;
  gap: 2em;
  /* .product-main__image-title {
    bottom: 0;
  } */
}
.product-main #product-main__btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #cccccc;
}
.product-main #product-main__btn-group #product-main__btn-group__btn-add-product {
  font-size: 0.8em;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.product-main .product-main__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-main .product-main__side-menu {
  font-family: "Roboto Condensed", sans-serif;
  width: 20%;
}

#product-detail {
  display: flex;
  gap: 2em;
}
#product-detail #product-detail__img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
#product-detail #product-detail__content {
  width: 50%;
}
#product-detail #product-detail__content > h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.1em;
  padding: 0.5em 0;
}
#product-detail #product-detail__content #product-detail__content__btn-group {
  display: flex;
  gap: 1em;
  padding-top: 2em;
}

#cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 2em;
}
#cart #cart__header {
  font-weight: 900;
}
#cart #cart__sub-header {
  font-size: 0.75em;
}

#cart-item {
  display: flex;
  align-items: center;
  margin: 1em 2em;
}
#cart-item #cart-item__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7em;
  height: 6.5em;
  padding-left: 0.5em;
}
#cart-item #cart-item__img-container #cart-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#cart-item #cart-item__content h6 {
  padding-bottom: 1em;
  font-weight: 900;
}
#cart-item #cart-item__content #cart-item__content-quantity {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28em;
  background-color: #f2f2f2;
  padding: 2em;
  border-radius: 0.5em;
}
#login-form #login-form__form-title {
  font-size: 1.5em;
  font-weight: 900;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.1em;
  padding-bottom: 0.5em;
}
#login-form #login-form__email,
#login-form #login-form__password {
  width: 25em;
}
#login-form #login-form__btnGroup {
  padding-top: 1em;
}
#login-form #login-form__btnGroup #login-form__submitBtn {
  width: 11em;
  background-color: #5ec3eb;
  font-weight: 900;
}
#login-form #login-form__btnGroup #login-form__cancelBtn {
  margin-right: 3em;
  width: 11em;
  font-weight: 900;
}
#login-form #login-form__register-link {
  text-decoration: underline;
  cursor: pointer;
}

#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28em;
  background-color: #f2f2f2;
  padding: 2em;
  border-radius: 0.5em;
}
#register-form #register-form__form-title {
  font-size: 1.5em;
  font-weight: 900;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.1em;
  padding-bottom: 0.5em;
}
#register-form #register-form__name,
#register-form #register-form__email,
#register-form #register-form__password,
#register-form #register-form__confirmPassword {
  width: 25em;
}
#register-form #register-form__avatar {
  width: 26.5em;
}
#register-form #register-form__btnGroup {
  padding-top: 1em;
}
#register-form #register-form__btnGroup #register-form__submitBtn {
  width: 11em;
  background-color: #5ec3eb;
  font-weight: 900;
}
#register-form #register-form__btnGroup #register-form__cancelBtn {
  margin-right: 3em;
  width: 11em;
  font-weight: 900;
}
#register-form #register-form__register-link {
  text-decoration: underline;
  cursor: pointer;
}

#profile {
  display: flex;
  gap: 2em;
  margin: 2.5em;
}
#profile #profile__avatar-container {
  width: 10em;
  height: 10em;
  object-fit: cover;
}
#profile #profile__avatar-container #profile__avatar-container__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
#profile #profile__user-info__name {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.2em;
  padding-bottom: 0.5em;
}
#profile #profile__user-info__email {
  display: flex;
  gap: 0.3em;
  align-items: center;
  padding-bottom: 2em;
}

#edit-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28em;
  background-color: #f2f2f2;
  padding: 2em;
  border-radius: 0.5em;
}
#edit-product-form #edit-product-form__form-title {
  font-size: 1.5em;
  font-weight: 900;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.1em;
  padding-bottom: 0.5em;
}
#edit-product-form #edit-product-form__title,
#edit-product-form #edit-product-form__price,
#edit-product-form #edit-product-form__description {
  width: 25em;
}
#edit-product-form #edit-product-form__image {
  width: 26.5em;
}
#edit-product-form #edit-product-form__btnGroup {
  padding-top: 1em;
}
#edit-product-form #edit-product-form__btnGroup #edit-product-form__submitBtn {
  width: 11em;
  background-color: #5ec3eb;
  font-weight: 900;
}
#edit-product-form #edit-product-form__btnGroup #edit-product-form__cancelBtn {
  margin-right: 3em;
  width: 11em;
  font-weight: 900;
}

#create-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28em;
  background-color: #f2f2f2;
  padding: 2em;
  border-radius: 0.5em;
}
#create-product-form #create-product-form__form-title {
  font-size: 1.5em;
  font-weight: 900;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.1em;
  padding-bottom: 0.5em;
}
#create-product-form #create-product-form__title,
#create-product-form #create-product-form__price,
#create-product-form #create-product-form__description {
  width: 25em;
}
#create-product-form #create-product-form__category-picker-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 26.5em;
  gap: 1em;
}
#create-product-form #create-product-form__category-picker-and-price #create-product-form__category-picker {
  display: flex;
  flex-direction: column;
}
#create-product-form #create-product-form__category-picker-and-price #create-product-form__category-picker #create-product-form__error {
  font-size: 0.65em;
}
#create-product-form #create-product-form__image {
  width: 26.5em;
}
#create-product-form #create-product-form__btnGroup {
  padding-top: 1em;
}
#create-product-form #create-product-form__btnGroup #create-product-form__submitBtn {
  width: 11em;
  background-color: #5ec3eb;
  font-weight: 900;
}
#create-product-form #create-product-form__btnGroup #create-product-form__cancelBtn {
  margin-right: 3em;
  width: 11em;
  font-weight: 900;
}

body {
  padding: 0 2em;
}

/*# sourceMappingURL=styles.css.map */
